<div class="container mt-4 text-center">
  <h1 class="mb-4">マイページ</h1>

  <div class="row justify-content-center">
    <div class="col-12 mb-3">
      <div class="d-flex justify-content-center">
        <% if @profile.profile_image_url.present? %>
          <div style="width: 200px; height: 200px; border-radius: 50%; overflow: hidden;">
            <img src="<%= @profile.profile_image_url %>" alt="Profile Image" class="img-fluid" style="width: 100%; height: 100%; object-fit: cover;">
          </div>
        <% else %>
          <p>プロフィール画像は設定されていません</p>
        <% end %>
      </div>
    </div>

    <div class="col-12">
      <div class="mb-3">
        <strong>ユーザー名:</strong>
        <p><%= current_user.name %></p>
      </div>

      <div class="mb-3">
        <strong>メールアドレス:</strong>
        <p><%= current_user.email %></p>
      </div>

      <div class="mb-3">
        <strong>アカウントタイプ:</strong>
        <p><%= t("activerecord.attributes.user.roles.#{current_user.role}") %></p>
      </div>

      <% if current_user.artist? %>
        <%= link_to '投稿した楽曲', my_songs_songs_path, class: "btn btn-info" %>
      <% end %>
      <%= link_to 'プロフィール編集', edit_profile_path(@profile), class: "btn btn-warning" %>
      <%= link_to 'お気に入り楽曲', favorites_songs_path, class: "btn btn-success" %>
      <%= link_to 'フォロー中のアーティスト', following_artists_user_path(current_user), class: "btn btn-primary" %>
    </div>
  </div>
</div>