<div id="comment-<%= comment.id %>" class="card mb-3">
  <div class="card-body">
    <%= simple_format(comment.content, {}, wrapper_tag: "p", class: "card-text") %>
    <p class="card-text">
      <small class="text-muted">
        投稿者: 
              <% if comment.user.profile&.profile_image_url.present? %>
                <img src="<%= comment.user.profile.profile_image_url %>" alt="Profile Image" class="rounded-circle" style="width: 30px; height: 30px; object-fit: cover; margin-right: 10px;">
              <% else %>
                <span class="rounded-circle" style="width: 30px; height: 30px; background-color: #e9ecef; margin-right: 10px;"></span>
              <% end %>
              <%= comment.user.name %> | <%= time_ago_in_words(comment.created_at) %>前
      </small>
    </p>
    <% if current_user == comment.user %>
      <%= link_to '削除', song_comment_path(comment.song, comment), data: { turbo_method: :delete, turbo_confirm: "コメントを削除しますか？" }, class: 'btn btn-danger btn-sm' %>
    <% end %>
  </div>
</div>
