<div class="container mt-4">
  <h1 class="text-center mb-4">投稿した楽曲</h1>

  <div class="text-center">
    <%= render 'songs/search_form', q: @q, search_url: my_songs_songs_path %>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">サムネイル</th>
        <th scope="col">タイトル</th>
        <th scope="col">アーティスト</th>
        <th scope="col">使用したソフト名</th>
        <th scope="col">ジャンル</th>
        <th scope="col">こだわりポイント</th>
      </tr>
    </thead>
    <tbody>
      <% @songs.each do |song| %>
        <tr>
          <td><%= link_to (image_tag(song.thumbnail_url, width: 150, height: 100) if song.thumbnail_url.present?), song_path(song) %></td>
          <td><%= link_to song.title, song_path(song) %></td>
          <td><%= song.artist %></td>
          <td><%= song.software_name %></td>
          <td><%= song.genre&.name %></td>
          <td><%= song.focus_point&.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if @songs.empty? %>
    <p class="text-center">投稿された楽曲はありません。</p>
  <% else %>
    <div class="pagination justify-content-center">
      <%= paginate @songs, theme: 'bootstrap-5' %>
    </div>
  <% end %>
</div>