<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <div class="card">
        <div class="card-body">
          <div class="ratio ratio-16x9 mb-3">
            <iframe class="embed-responsive-item" src="<%= @song.embed_url %>" allowfullscreen referrerpolicy="no-referrer"></iframe>
          </div>
          <h2 class="card-title text-center"><%= @song.title %></h3>

          <div class="d-flex justify-content-end mb-3">
            <% if current_user.favorited_songs.include?(@song) %>
              <%= render 'unfavorite_button', song: @song %>
            <% else %>
              <%= render 'favorite_button', song: @song %>
            <% end %>
          </div>

          <div class="d-flex justify-content-around flex-wrap mb-3">
            <%= render "evaluation_buttons", locals: { song: @song, current_evaluation: @evaluation } %>
          </div>

          <p class="card-text"><strong>アーティスト名:</strong> <%= @song.artist %></p>
          <p class="card-text"><strong>使用したソフト名:</strong> <%= @song.software_name %></p>
          <p class="card-text"><strong>ジャンル:</strong> <%= @song.genre.name %></p>
          <p class="card-text"><strong>こだわりポイント:</strong> <%= @song.focus_point.name %></p>
          <p class="card-text"><strong>楽曲の概要:</strong> <%= @song.description %></p>

          <% if current_user == @song.user %>
            <%= link_to '編集', edit_song_path(@song), class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>