<!DOCTYPE html>
<html>
  <head>
    <title>VOCALOID Selection</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="VOCALOID Selection">
    <meta name="twitter:description" content="本サービスはVOCALOID等の音声合成ソフトを使用して作成された楽曲専用の動画プラットフォームです">
    <meta name="twitter:image" content="https://www.vocaloidselection.com/assets/puretipe_Hatsune_Miku_best_quality_2020s_pixiv_illustration_viv_0fa5bf82-ba84-4a49-9fb3-13aa9029acb9.png">

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <link href="https://fonts.googleapis.com/css2?family=Ephesis&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>

    <%= display_meta_tags %>

  </head>

  <body>
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <%= render 'shared/flash_message' %>
    <div>
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
